body {
    font-family: "Open Sans", sans-serif;
}

h2 {
    margin: 0px;
    text-align: center;
}

h3 {
    margin: 0px;
    text-align: center;
}

h4 {
    margin: 0px;
    text-align: center;
}

button {

}

.login-label {
    font-size: 20px;
    font-weight: bold;
}

.main-title {
    font-size: 50px;
    text-align: center;
}

.top-level-content {
}

.welcome    {
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

.link   {
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

.col-sm-2 {
    margin: auto;
}

.logout   {
    font-size: 15px;
    margin: auto;
}

.login-area {
    width:calc(100% - 10px);
    height:30px;
    margin: 0px;
    padding: 0px;
    border-style: inset;
    border-width: 2px;
}

.post-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.post-author {
    text-align: center;
    font-size: 15px;
}

.post-likes {
    text-align: center;
    font-size: 15px;
}

.post-date {
    text-align: center;
    font-size: 15px;
}

.comment-text-area  {
    width:calc(100% - 10px);
    height:60px;
    margin: 0px;
    padding: 0px;
    border-style: inset;
    border-width: 2px;
}

.subject-text-area  {
    width:calc(100% - 10px);
    height:50px;
    margin: 0px;
    padding: 0px;
    border-style: inset;
    border-width: 2px;
}

.new-post-text-area  {
    width:calc(100% - 10px);
    height:500px;
    margin: 0px;
    padding: 0px;
    border-style: inset;
    border-width: 2px;
}

.error {
    font-weight: bold;
    font-size: 25px;
    color: red;
}