.error {
    color: red;
}

body {
    font-family: "Open Sans", sans-serif;
}

h2 {
    margin: 0px;
}

.main-title {
    font-size: 50px;
    text-align: center;
}

.top-level-content {
}

.welcome    {
    font-size: 20px;
    text-align: center;
}

.link   {
    font-size: 15px;
    text-align: center;
}

.post-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.post-author {
    text-align: center;
    font-size: 15px;
}

.post-likes {
    text-align: center;
    font-size: 15px;
}

.post-date {
    text-align: center;
    font-size: 15px;
}


