{% block content %}
<div class="row">
  <div class="col-sm-8">
    <h2 class="post-title">
      <a href="/blog/{{ p.key().id() }} ">{{p.subject}}</a>
    </h2>
  </div>
  <div class="col-sm-2">
    <p class="post-author">Author:{{p.author}}</p>
  </div>
  <div class="col-sm-1">
    <p class="post-likes">Likes:{{p.likes}}</p>
  </div>
  <div class="col-sm-1">
    <p class="post-date">{{p.created.strftime("%b %d, %Y")}}</p>
  </div>
</div>
<div class = "row">
  <div class="col-sm-8">
    <p class="post-text"> {{p._render_text | safe}}</p>
  </div>
  <div class="col-sm-4"></div>
</div>
{% endblock %}