{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2 class="post-title">
      <a href="/blog/{{ p.key().id() }} ">{{p.subject}}</a>
    </h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-2">
    <div class="post-author">Author:{{p.author}}</div>
  </div>
  {% if is_author %}
  <div class="col-sm-2">
    <div class="post-likes">Likes:{{p.likes}}</div>
  </div>
  {% else %}
  <div class="col-sm-1">
    <input type="button" id="like-button" class="btn" onclick="addLike({{ p.key().id() }})" value="Like" />
  </div>
  <div class="col-sm-1">
    <div id="like-count" class="post-likes">{{p.likes}}</div>
  </div>
  {% endif %}
  <div class="col-sm-4">
    <div class="post-date">{{p.created.strftime("%b %d, %Y")}}</div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<div class="post-text">
  <div class = "row">
    <div class="col-sm-8">
      <p> {{p._render_text | safe}}</p>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <hr>
  </div>
</div>
{% endblock %}