  {% extends "base.html" %}
  {% block content %}
  <form method="post">
    <div class="row">
      <div class="col-sm-2">
        <p class="login-label">Username:</h3>
        </div>
        <div class="col-sm-8">
          <input type="text" name="username" value="{{username}}" class="login-area">
        </div>
        <div class="col-sm-2">
          <p class="error">{{error_username}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="login-label">Password:</p>
        </div>
        <div class="col-sm-8">
          <input type="password" name="password" value="" class="login-area">
        </div>
        <div class="col-sm-2">
          <p class="error">{{error_password}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="login-label">Verify Password:</p>
        </div>
        <div class="col-sm-8">
          <input type="password" name="verify" value="" class="login-area">
        </div>
        <div class="col-sm-2">
          <p class="error">{{error_verify}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <p class="login-label">Email (optional):</p>
        </div>
        <div class="col-sm-8">
          <input type="text" name="email" value="{{email}}" class="login-area">
        </div>
        <div class="col-sm-2">
          <p class="error">{{error_email}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="submit" class="btn">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="login" class="link">Existing User? Login</a>
          </div>
        </div>
      </form>
      {% endblock %}